@font-face {
    font-display: swap;
    font-family: 'Helvetica Neue Cyr';
    src: url('../fonts/HelveticaNeueCyr.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCyr.woff')  format('woff');
    font-weight: normal;
    font-style: normal;
}