{% extends 'base.html' %}

{% block title %} Славянский тур {% endblock %}

{% block content %}
{% load static %}
<div class="article-content">
            <div class="wrapper">             
                <div class="content content-article-two">
                    <div class="content-header">
                        <h1 align='center'>Туроператор Славянский Тур</h1>
                    </div>
                    
                    <div class="schedule">
                        <div class="schedule__item">
                            <div class="info">
                                <ul>
	<li style="text-align: justify;">ООО «Славянский тур» один из ведущих туроператоров Псковской области по внутреннему и международному въездному туризму</li>
	<li style="text-align: justify;">Более 25 лет успешной работы на российском и международном рынке туристских услуг</li>
	<li style="text-align: justify;">Создатель регионального экскурсионно-образовательного проекта «Псковские уроки», включенного в федеральную программу «Живые уроки»</li>
	<li style="text-align: justify;">Член Межрегионального координационного совета и Экспертного совета федеральной программы «Живые уроки»</li>
	<li style="text-align: justify;">Член Российского Союза Туриндустрии, Торгово-Промышленной Палаты Псковской области, Псковского областного союза туриндустрии</li>
</ul>

<p>&nbsp;</p>

<h2>Наши награды:</h2>

<p>&nbsp;</p>

<p><img alt="" src="{% static "images/reward11.jpg" %}" style="padding: 0px; margin: 6px; border: 1px solid; border-color: gray; background-color: white;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"><br clear="all">
<img alt="" src="{% static "images/reward25.jpg" %}" style="padding: 0px; margin: 6px; border: 1px solid; border-color: gray; background-color: white;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"><br clear="all">
<img alt="" src="{% static "images/reward26.jpg" %}" style="padding: 0px; margin: 6px; border: 1px solid; border-color: gray; background-color: white;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"></p>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
{% endblock %}